/* <weight>: Use a value from 300 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-text-normal {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-text-bold {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.05rem;
}

body {
  font-size: small;
  font-family: "Red Hat Text", sans-serif;
  background-color: #fafafa;
  color: #2c2c2c;
}

.sidebar {
  padding: 2rem 2rem 1rem 1rem;
}

.page-content {
  display: flex;
  /* gap: 3em; */
  flex-direction: row;
}

.main-content {
  padding: 0 1.5rem;
}

.header {
  padding: 2rem 0;
}

.blog-posts {
  max-width: 720px;
  margin: 0 auto;
}

.post-title {
  cursor: pointer;
  color: #5d5d5d;
}

.post-title.active {
  color: #252525;
  font-weight: 800;
}

.post-content {
  font-size: small;
  font-family: "Red Hat Text", sans-serif;
}
