/* <weight>: Use a value from 300 to 700 */
/* <uniquifier>: Use a unique and descriptive class name */

.playfair-display-normal {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-text-normal {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.red-hat-text-bold {
  font-family: "Red Hat Text", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* .invisible {
  display: none;
} */

/* .visible {
  display: block;
} */

h1 {
  font-size: 3rem;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-size: 1.05rem;
}

body {
  font-size: 0.87rem;
  font-family: "Red Hat Text", sans-serif;
  background-color: rgb(238, 238, 238);
  color: #2c2c2c;
}

a,
u {
  text-decoration: none;
  color: rgb(106, 43, 135);
}

.sidebar {
  display: flex;
  padding: 2rem 2rem 1rem 1rem;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  position: sticky;
  top: 0;
  align-self: flex-start;
  height: fit-content;
  min-height: calc(100vh - 4rem);
  flex-direction: column;
  /* max-width: 3.1rem; */
}

.sidebar-section {
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.sidebar-section a {
  display: block;
}

.sidebar-footer {
  margin-top: auto;
  color: rgb(96, 94, 89);
}

.about-content {
  font-size: 0.87rem;
  font-family: "Red Hat Text", sans-serif;
  background-color: rgb(238, 238, 238);
  color: #2c2c2c;
}

/* .sidebar-label {
  font-weight: 700;
  margin-bottom: 0.3rem;
} */

.page-content {
  display: flex;
  /* gap: 3em; */
  flex-direction: row;
}

@media (max-width: 460px) {
  .page-content {
    display: flex;
    /* gap: 3em; */
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    gap: 3em;
    flex-direction: row;
    border-bottom: 1px solid #ddd;
    position: static;
    min-width: 100%;
    min-height: 0;
    border-right: none;
    justify-content: center;
    box-sizing: border-box;
  }
  .sidebar-footer {
    display: none;
  }
}

.main-content {
  padding: 0 1.5rem;
}

.header {
  padding: 2rem 0;
}

.blog-posts {
  max-width: 720px;
  margin: 0 auto;
}

.post-title {
  cursor: pointer;
  color: #5d5d5d;
}

.post-title.active {
  color: #252525;
  font-weight: 800;
}

.post-date {
  font-family: "Red Hat Text", sans-serif;
  margin-left: 0.5rem;
  color: rgba(96, 94, 89, 0.369);
  font-size: 0.87rem;
  font-weight: 400;
}

.post-content {
  font-size: 0.87rem;
  font-family: "Red Hat Text", sans-serif;
  display: none;
}

.post-content.visible {
  display: block;
}
